
<% if @error %>
    <p>
        <%= @error %>
    </p>
<% else %>

    <h2 style="text-align: center;">Temperature</h2>
    <%= line_chart @temperature_data, library: { scales: { y: { min: @min_temp.floor, max: @max_temp.ceil } } } %>

    <h2 style="text-align: center;">Humidity</h2>
    <%= line_chart @humidity_data, library: { scales: { y: { min: @min_humidity.floor, max: @max_humidity.ceil } } } %>

<% end %>