<h1>Hello!</h1>
<p>your home:</p>
<code>
    <%= @home_data %>
</code>

<p>your zones:</p>
<%= @zones_data.map { |zone| "<code style=\"display: block; margin-bottom: 12px;\">#{h(zone)}</code>".html_safe }.join.html_safe %>

