<h1>Hello!</h1>
<p>your home:</p>
<code>
    <%= @home %>
</code>

<p>your zones:</p>
<%= @zones.map do |zone|
        "<code style=\"display: block; margin-bottom: 12px;\">#{h(zone)}</code>".html_safe
    end.join.html_safe
%>

<p>zone states:</p>
<%= @zone_states.map do |zone_state|
        "<code style=\"display: block; margin-bottom: 12px;\">#{h(zone_state)}</code>".html_safe
    end.join.html_safe
%>