<h1>Hello!</h1>

<%= line_chart @temperature_data, library: { scales: { y: { min: @min_temp.floor, max: @max_temp.ceil } } } %>

<%= line_chart @humidity_data, library: { scales: { y: { min: @min_humidity.floor, max: @max_humidity.ceil } } } %>
