
<% if flash[:notice] %>
    <p>
        <%= flash[:notice] %>
    </p>
<% end %>

<% if @error == "auth/no_token" %>
    <p>
        <a href="/login" class="btn btn-primary">log in</a>
    </p>
<% elsif @error == "auth/expired_token" %>
    <p>
        Your session has expired. Please <a href="/login" class="btn btn-primary">log in</a> again.
    </p>
<% else %>

    <h2 style="text-align: center;">Temperature</h2>
    <%= line_chart @temperature_data, library: { scales: { y: { min: @min_temp.floor, max: @max_temp.ceil } } } %>

    <h2 style="text-align: center;">Humidity</h2>
    <%= line_chart @humidity_data, library: { scales: { y: { min: @min_humidity.floor, max: @max_humidity.ceil } } } %>

    <p>
        Days: <input type="number" name="days_to_show" id="days_to_show" value="<%= @days_to_show %>" min="1" max="1500" style="width: 50px;" />
        <button 
            id="updateData"
            class="btn btn-primary" 
            data-action="update"
            onclick="window.location.href='?days_to_show=' + document.getElementById('days_to_show').value"
        >
            Update
        </button>
    </p>
<% end %>
